@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');

:root {
    --main-color: #E93B81;
}

* {
    transition: .3s;
}

.navbar {
    border-bottom: 1px solid rgb(202, 202, 242);
    text-transform: capitalize;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 9999;
}

.lambda {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-size: 23px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: capitalize
}

.navbar .navbar-nav .nav-item a.active {
    color: var(--main-color);
}

.navbar .navbar-nav .nav-item a {
    font-weight: 500;
    font-size: 16px;
}

.navbar-brand img {
    width: 60px;
    position: absolute;
    z-index: -1;
    opacity: 0.7;
    top: 0;
}

.academy {
    font-size: 17px;
    text-transform: lowercase;
    color: rgba(0, 0, 255, 0.2);
}

#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.4)), url(https://i.pinimg.com/originals/1c/34/2a/1c342af2edca1470612f097be5b6112e.jpg);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.btn-color {
    background-color: var(--main-color);
    border-radius: 0;
    padding: 8px;
    width: 100px;
    font-size: 16px;
    border: 1px solid var(--main-color);
}

.btn-color:hover {
    background-color: red;
    border: 1px solid red;
}

.homeHeader {
    padding-bottom: 100px;
    /* width: 90%; */
}

.homeHeader h1 {
    /* font-size: 50px;  */
    font-weight: 600;
}

.homeHeader p {
    width: 70%;

}

.i {
    height: 1000px;
}

@media(max-width: 390px) {
    .homeHeader p {
        width: 100%;
    }

    .homeHeader h1 {
        width: 100%;

    }

    .homeHeader {
        padding-top: 40px;
    }
}

.allSectionsHeader {
    margin: 75px auto;
}

.allSectionsHeader h1 {
    font-size: 45px;
}

.allSectionsHeader .lineSections {
    background: grey;
    width: 90px;
    margin-bottom: 10px;
    height: 2px;
}

/* services start */
.serviceIconBg {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    color: #fff;
    background-color: var(--main-color);
}

.serviceContent h3 {
    color: rgb(2, 2, 92);
}


/* portfolio section */
#portfolio {
    margin: 70px auto;
}

.portfolioImg img {
    width: 100%;
    transition: .4s;
}

.portfolioContent {
    padding: 30px;
    z-index: 99;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
    width: 100%;
    background: rgba(10, 10, 141, 0.802);
    display: flex;
    position: absolute;
    align-items: flex-end;
    opacity: 0;
    transition: .4s;
}

.portfolioImg {
    position: relative;
    overflow: hidden;
}

.portfolioImg:hover img {
    transform: scale(1.2);
}

.portfolioImg:hover .portfolioContent {
    opacity: 1;
}

/* feature */
#feature {
    margin: 60px auto;
}

.featureIcon {
    width: 40px;
    height: 40px;
    background: var(--main-color);
    border-radius: 50%;
    ;
    margin-right: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.featureContent h4 {
    color: rgb(2, 2, 92);
}

.featureMain {
    display: flex;
    justify-content: space-between;
}

/* team */
#team {
    margin: 60px auto;
}

.team {
    background-color: #11245a;
    position: relative;
}

.secondColorForTeam {
    background: #162e6e;
}

.teamImg img {
    width: 100%;
    object-fit: cover;
}

.teamIcons {
    background-color: #E93B81;
    height: 65px;
    align-items: center;
    position: absolute;
    justify-content: center;
    width: 100%;
    bottom: -70px;
}

.teamIcons .teamIcon {
    width: 43px;
    color: #fff;
    transition: .3s;
    margin: 0 3px;
    height: 43px;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    transition: .3s;
}

.teamContent {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lineTeam {
    background-color: rgb(215, 212, 212);
    height: 2px;
    width: 80px;
    margin: 13px auto;
}

.teamImg {
    position: relative;
    overflow: hidden;
    transition: 4.s;
}

.team:hover img {
    transform: translateY(-60px);
}




#testimonials {
    margin: 60px auto;
}

.stars {
    margin: 20px auto;
}

.teamIcon:hover {
    color: #E93B81;
    background-color: #fff;
}

.team:hover .teamIcons {
    bottom: -5px;
}

.testimonialsTeam {
    text-align: center;
}

.testimonialsTeam img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonialsButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonialsButton button.active img {
    transform: scale(1.2);
}

.testimonialsButton button.active {
    background-color: transparent;
}

#testimonials .nav-pills .nav-link.active {
    background-color: transparent;
}

.clients {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 120px auto;
}
.brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
@media(max-width: 480px) {
    .brands .brand img {
        width: 80%;
        
    }
}

#contact {
    margin: 50px auto;
}

.contactImg img{
    width: 100%;
    object-fit:cover cover;
 } 
small {
    color: #e93bc6;
    font-size: 13px;
}
@media (max-width: 991px) {
    .contactForm {
        width: 90%;
        margin-top: 40px;
    }
    .contactImg {
        width: 90%;
    }
}

.greatBg {
    background: #E93B81;
    margin: 50px auto;
}

.startedBtn {
    border-radius: 0;
}
.greatCont {
    padding: 30px;
}
.footerIcons {
    margin:8px;
}
.footerIcons i {
    margin: auto 3px;
}
footer ul li {
    list-style-type:none;
}
.numberPhone {
    margin: 10px auto;;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-left: 0;
}
.footerUl {
    padding-left: 0;
}
.teamParagraph {
    width: 50%;
    margin: auto;
    padding-bottom: 10px;   
}